.future-section-bg {
  @media (min-width: 768px) {
    background-image: url('/images/bg4.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
